.App{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_mainbody{
    display: flex;
    max-width: 1200px;
    margin: 0rem 0rem 0rem 0rem;
}

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}