.header {
    position: sticky;
    top: 0px;
    background-color: white;
    justify-content: space-evenly; 
    border-bottom: 0.1px solid lightgray;
    padding: 0.15rem 0rem 0.15rem 0rem;
    width: 100%;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
}

.logo-image {
    object-fit: contain;
    height: 38.5px;
    margin: 0rem 0.5rem 0rem 0rem;
}

.header-search {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    height: 0.9rem;
    width: 15rem;
    background-color: #eef3f8;
    transition: all 0.15s ease-in-out;
}

.header-search:hover {
    border: 1px solid grey;
}

.header-search > input {
    outline: none;
    border: none;
    background: none;
}

.header-right{
    gap: 0.5rem;
}
