.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0.5rem 0rem 0rem;
    color: grey;
    transition: all 0.15s ease-out;
}

.headerOption:hover{
    cursor: pointer;
    color: black;
}

.header_option_title{
    font-size: 0.8rem;
    font-weight: 600;
}

.header_option_icon{
    font-size: 5rem;
    /* font-weight: 600; */
}
.header_option_avatar{
    object-fit: contain;
}